<h1>Event Binding</h1>
<h2>in this event binding we get data from  html page(template) to .ts file </h2>
<button (click)="helo()">click</button>
<button (click)="greeting='welcome vishwas'" style="margin-left: 20px;">greet</button>
<button (click)="hello($event)" style="margin-left: 20px;" >click with para</button> 
<h2>this give which button u pressed "{{greeting}} "</h2>
<hr><hr>
<app-angular-pipes></app-angular-pipes>
<hr><hr>
<app-template-refrence-vraiable></app-template-refrence-vraiable>
<hr><hr>
<app-ng-model></app-ng-model>
<hr><hr>
<app-ng-if></app-ng-if>
<hr><hr>
<app-ng-switch></app-ng-switch>
<hr><hr>
<app-ng-for></app-ng-for>
<hr>
<hr>